@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=M+PLUS+2&display=swap"); */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	
	background-color: #555;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #555;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgb(129, 129, 129);
}
.white{
  color:rgb(238, 238, 238);
}
.blue{
  color:#9CEAF3;
}
a{
  text-decoration: none;
  color: rgb(238, 238, 238);
}
body{
  background-color:#393A59;

  height: 100vh;
  font-family: 'Fira Code', monospace;
  display:flex;
  align-items: center;
  justify-content: center;
}
.container{
  display:flex;
  flex-direction: column;
  width:100%;
  max-width:800px;
  height:500px;
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid gray;
  margin:20px;
  cursor: text;
}
.menu{
  display:flex;
  align-items: center;

  text-align: center;
  flex-direction: row;
  width: 100%;
  height: 24px;
  background-color: #424040;
  padding: 0 8px;
  cursor:default;
}
.menu .button{
  width:12px;
  height:12px;
  border-radius:50%;
  margin-right:8px;
  cursor:pointer;
}
.red{background-color:#F5544D;}
.yellow{background-color:#FABD2F;}
.green{background-color:#47D043;}

div.title{
  flex:1;
  text-align:center;
}
.menu h1{
  font-size:13px;
  color:#9c9c9c;
  
}
.buttons-flex{
  position: absolute;
  display:flex;
  flex-direction: row;
}
@media (max-width:500px){
  .buttons-flex{
    position: unset;
    display:flex;
    flex-direction: row;
  }
}
@media (max-width:330px){
  .menu h1{
    display:none;
  }
}

#app{
  display:flex;
  flex-direction: column;
  background-color:#282A35;
  width:100%;
  height:100%;
  padding:8px;
  overflow: auto;
}
p{
  font-size:16px;
  color:rgb(238, 238, 238);
  padding:8px 0;
}
h2{
  font-size:16px;
  color:rgb(238, 238, 238);
}
p.code{
  color:#66C2CD;
  margin-left:8px;
}
span.text{
  margin-left:16px;
  color:white;
}
p.path{
  color:#F7FCA0;
}
p.path span{
  color:#6A77D2;
}
p.path span + span{
  color:#9CEAF3;
}

.sucess{
  color:#5AD786;
}
.error{
  color:#F78F85;
}
p.response{
  color:rgb(238, 238, 238);
}

input{
  border:none;
  background-color: unset;
  color:rgb(238, 238, 238);
  width:100%;
}
input:focus{
  border:none;
  outline: none;
  box-shadow: none;
  background-color: unset;
  
}
.type{
  display:flex;
  align-items: center;
  padding:8px 0;
}
.type2{
  display:flex;
  align-items: center;
  padding:8px 0;
}
.icone{
  color:#5AD786;
  padding-right:8px;
}

.icone.error{
  color:#F78F85;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.terminal {
  padding: 10px;
  height: 100vh;
}

form {
  margin-top: 5px;
  display: inline-block;
}

input {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  display: inline-block;
}

.spacing {
  height: 10px;
}

.user,
a {
  color: #5dfa93;
  margin-right: 12px;
}

.symbols {
  color: white;
}

.ascii-art {
  font-size: 10px;
  margin: 0;
  color: white;
}

.commands {
  color: #f15955;
}

.about p {
  margin: 5px;
}

.help {
  color: #cfd4e1c7;
  margin: 3px 0px 0px 15px;
}

/* .skills {
  color: rgb(235, 150, 97);
}

.skills-text {
  margin-top: 15px;
  margin-bottom: 10px;
}

.projects-head {
  color: #5dfa93;
  margin-left: 20px;
  text-decoration: none;
}

.projects-content {
  margin: 0;
  color: rgba(255, 196, 160, 0.66);
} */

.terminal-spacing {
  height: 200px;
}

.terminal-header {
  background-color: #171717;
  padding: 10px;
  font-size: 16px;
  border-top-left-radius: 5px; 
  border-top-right-radius: 5px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-bottom: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}